<html>
<head>
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('bootstrap/js/bootstrap.min.js') }}">
    <title>{{ title }}</title>
</head>
<body>

{% block root %}
{% if root_path %}
<div class="row">
    <div class="span9 offset1">
        <span>root:  <a href="{{ escape(root_path[0]) }}">{{ escape(root_path[1]) }}</a></span><br>
    </div>
</div>
{% end %}
{% end %}

{% block container %}

{% block albums %}
{% set count = 0 %}
{% if dir_list %}
<p>dirs</p>
    {% for dir in dir_list %}
        {% set count += 1 %}
        {% if count % 3 == 0 %}
        <p>trei</p>
        {% end %}
    <a href="{{ escape(dir_list[dir]['path']) }}">{{ escape(dir) }}, albums: {{ dir_list[dir]['dir_count'] }}, photos: {{ dir_list[dir]['file_count'] }}</a><br>
    {% end %}
{% end %}

{% end %}


{% block photos %}

{% if file_list %}
<p>files</p>
    {% for file in file_list %}
        <a href="/smp_download{{ escape(file_list[file]['path']) }}">
            <img border="0" src="/smp_thumb{{ escape(file_list[file]['path']) }}" alt="{{ escape(file) }}" width="304" height="228">
        </a>
    {% end %}
{% end %}

{% end %}

{% end %}

{% block footer %}
{% end %}
</body>
</html>