<!DOCTYPE html>
<html>
<head>
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <title>VV & Ion Gallery</title>
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="VV & Ion Gallery" />
    <meta name="keywords" content="VV & Ion Gallery" />
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <link rel="stylesheet" href="{{ static_url('css/vi_css_style.css') }}" type="text/css">
    <!--////////////////////////////////////////////////////////////////////////////////////-->
</head>
<body>
    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <!--/////////////////////////////////START HEADER///////////////////////////////////////-->
    <div id="vi_header_wrap">
        <div id="vi_header">
            ssss
        </div>
    </div>
    <!--/////////////////////////////////END HEADER/////////////////////////////////////////-->
    <!--////////////////////////////////////////////////////////////////////////////////////-->

    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <!--/////////////////////////////////START CONTENT//////////////////////////////////////-->
    <div id="vi_content_wrap">
        <div id="vi_content">
            <!--////////////////////////////////GALLERY//////////////////////////////////////-->
            <div>
            <!--////////////////////////////////////////////////////////////////////////////////////-->
            <!--///////////////////////////////////////FILTERS//////////////////////////////////////-->
            <!--////////////////////////////////////////////////////////////////////////////////////-->
                <div class="vi_gallery_stats">
                    <!--////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="vi_gallery_stats_label">My Filters</div>
                    <a href="#"><div class="vi_gallery_stats_filter">Date</div></a>
                    <a href="#"><div class="vi_gallery_stats_filter">Name</div></a>
                    <a href="#"><div class="vi_gallery_stats_filter">Recent</div></a>
                    <a href="#"><div class="vi_gallery_stats_filter">Last Updated</div></a>
                    <a href="#"><div class="vi_gallery_stats_filter">Favorites</div></a>
                    <div class="vi_gallery_stats_count">
                        <div class="vi_gallery_stats_count_label_albums_cord">
                            <div class="vi_gallery_stats_count_label">2,555</div>
                            <div class="vi_gallery_stats_count_sub_label">Albums</div>
                        </div>
                        <div class="vi_gallery_stats_count_label_photos_cord">
                            <div class="vi_gallery_stats_count_label">10,000,000</div>
                            <div class="vi_gallery_stats_count_sub_label">Photos</div>
                        </div>
                    </div>
                    <div class="vi_clear"></div>
                    <!--////////////////////////////////////////////////////////////////////////////////////-->
                </div>
                <!--////////////////////////////////NAVIGATION BAR//////////////////////////////////////-->
                <div class="vi_gallery_stats_navi_bar">
                    <!--////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="vi_gallery_stats_navi_bar_cord">
                        <div class="vi_gallery_stats_navi_bar_icon"></div>
                        <div class="vi_gallery_stats_navi_bar_icon_text">
                            <div class="vi_gallery_stats_navi_bar_label">Location</div>
                            <a href="#">file:///C:/My Computer/Users/Ion Luchian/Dropbox/My Albums/</a>
                        </div>
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="vi_gallery_stats_share_cord">
                        <div class="vi_gallery_stats_share_icon"></div>
                        <div class="vi_gallery_stats_share_icon_text">
                            <div class="vi_gallery_stats_navi_bar_label">My share link</div>
                            <a href="#">https://www.10.10.10:8080/</a>
                        </div>
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="vi_gallery_stats_gallery_cord">
                        <div class="vi_gallery_stats_gallery_icon"></div>
                        <div class="vi_gallery_stats_share_icon_text">
                            <div class="vi_gallery_stats_gallery__label">Ion Luchian's Gallery</div>
                        </div>
                    </div>
                    <!--////////////////////////////////PAGES////////////////////////////////////////////-->
                    <div class="vi_gallery_stats_navi_bar_next"></div>
                    <div class="vi_gallery_stats_navi_bar_prev"></div>
                    <div class="vi_clear"></div>
                    <!--////////////////////////////////////////////////////////////////////////////////////-->


                </div>
                <!--////////////////////////////////////////////////////////////////////////////////////-->
                <!--/////////////////////////////////////ALBUMS/////////////////////////////////////////-->
                <!--////////////////////////////////////////////////////////////////////////////////////-->
{% block albums %}
    {% if dir_list %}
                <table class="vi_gallery">
        {% set count = 0 %}
        {% for dir in dir_list %}
            {% set count += 1 %}
            {% if count % 4 == 0 or count == 1 %}
                    <tr>
            {% end %}
                        <!--/////////////////////////////////////////////////////////////////////////-->
                        <td valign="top">
                            <div class="vi_gallery_albums">
                                <div class="vi_gallery_albums_add_cover"></div>
                                <a href="{{ escape(dir_list[dir]['path']) }}">
                                    <img src="{{ static_url('img/vi_gallery_album_cover.png') }}"/>
                                    <span>{{ dir }}</span>{{ count }}
                                </a>
                                <div class="vi_gallery_albums_photos_count">
                                    <div class="vi_gallery_albums_photos_cord">{{ dir_list[dir]['file_count'] }}</div>
                                    <div class="vi_gallery_albums_sub_cord">{{ dir_list[dir]['dir_count'] }}</div>
                                </div>
                            </div>
                        </td>
                        <!--/////////////////////////////////////////////////////////////////////////-->
            {% if count % 4 == 0 or count == len(dir_list) %}
                    </tr>
            {% end %}
        {% end %}
                </table>
    {% end %}
{% end %}




{% block photos %}

    {% if file_list %}
        <table class="vi_gallery">
            {% set count = 0 %}
            {% for file in file_list %}
                {% set count += 1 %}
                {% if count % 4 == 0 or count == 1 %}
                    <tr>
                {% end %}
                        <!--/////////////////////////////////////////////////////////////////////////-->
                        <td valign="top">
                            <div class="vi_gallery_albums">
                                <div class="vi_gallery_albums_add_cover"></div>
                                <a href="/smp_download{{ escape(file_list[file]['path']) }}">
                                    <img src="/smp_thumb{{ escape(file_list[file]['path']) }}"/>
                                    <span>{{ file }}</span>
                                </a>
                            </div>
                        </td>
                        <!--/////////////////////////////////////////////////////////////////////////-->
                {% if count % 4 == 0 or count == len(file_list) %}
                    </tr>
                {% end %}
            {% end %}
        </table>
    {% end %}

{% end %}
                <!--////////////////////////////////////////////////////////////////////////////////////-->
                <!--////////////////////////////////////////////////////////////////////////////////////-->
                <!--////////////////////////////////////////////////////////////////////////////////////-->
            </div>




            <!--/////////////////////////////////////////////////////////////////////////////-->
        </div>
    </div>
    <!--/////////////////////////////////END CONTENT////////////////////////////////////////-->
    <!--////////////////////////////////////////////////////////////////////////////////////-->

    <!--////////////////////////////////////////////////////////////////////////////////////-->
    <!--/////////////////////////////////START FOOTER///////////////////////////////////////-->
    <div id="vi_footer_wrap">
        <div id="vi_footer">
            ssss
        </div>
    </div>
    <!--/////////////////////////////////END FOOTER/////////////////////////////////////////-->
    <!--////////////////////////////////////////////////////////////////////////////////////-->
</body>
</html>