<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Share My Photos</title>
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('bootstrap/css/bootstrap-responsive.min.css') }}">
    <script type="text/javascript" src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ static_url('js/jquery-1.10.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('fancyBox/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ static_url('fancyBox/jquery.fancybox.pack.js') }}"></script>

    <style>
        body
        {
            background-image:url("{{ static_url('img/ticks.png') }}");
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox-button").fancybox({
                prevEffect		: 'none',
                nextEffect		: 'none',
                closeBtn		: false,
                helpers		: {
                    title	: { type : 'inside' },
                    buttons	: {}
                }
            });
        });
    </script>

</head>
<body>


<div class="container">


    {% block head %}
    <div class="row-fluid">
        <h1 class="text-info">Share My Photos <small>0.1</small></h1>
    </div>
    {% end %}



    {% block root %}
    {% if root_path %}
    <div class="row-fluid">
        <div class="span9 offset1">
            <blockquote>
                <h4><span>Current album:  <a class="btn btn-large btn-primary" href="{{ escape(root_path[0]) }}">{{ escape(root_path[1]) }}</a></span></h4>
            </blockquote>
        </div>
    </div>
    {% end %}
    {% end %}


    {% block container %}

{% block albums %}

{% if dir_list %}


<div class="row-fluid well" style="background-color: lightgoldenrodyellow;">
    <blockquote class="pull-right">
        <h4 class="text-warning">albums</h4>
    </blockquote>

        {% for dir in dir_list %}
        <div class="span2">

<pre class="well-small">
            <a href="{{ escape(dir_list[dir]['path']) }}">
                <img src="{{ static_url('img/512.png') }}"/>
                <span class="label">{{ dir }}</span>
                <span class="label label-info">albums:</span><span class="badge badge-info">{{ dir_list[dir]['dir_count'] }}</span>
                <span class="label label-info">photos:</span><span class="badge badge-info">{{ dir_list[dir]['file_count'] }}</span>
            </a>

</pre>

        </div>
        {% end %}

</div>


{% end %}

{% end %}


{% block photos %}

    {% if file_list %}


    <div class="row-fluid well" style="background-color: lemonchiffon;">
        <blockquote class="pull-right">
            <h4 class="text-warning">photos</h4>
        </blockquote>
        {% for file in file_list %}
        <div class="span2" style="padding-bottom:25px">
            <!--<pre>-->
            <div class="img-polaroid">
            <a class="fancybox-button" rel="fancybox-button" href="/smp_download{{ escape(file_list[file]['path']) }}"
               title="{{ file }}">
                <img  src="/smp_thumb{{ escape(file_list[file]['path']) }}"/>
                <span class="label">{{ file }}</span>
            </a>
            </div>

            <!--</pre>-->
        </div>
        {% end %}


    </div>

    {% end %}

{% end %}


    {% end %}

    {% block footer %}
    <blockquote class="pull-right">
    <!--<div class="span9 offset6">-->
        <span>VVhiteCoder</span>
    <!--</div>-->
        </blockquote>
    {% end %}

</div>

</body>
</html>
